@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');
*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poetsen One", sans-serif;
}


.sec1{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.head{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  /* background-color: transparent; */
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
  transition: .5s ease;
}
.head.scrolled{
  background: rgb(0, 139, 198);
}

.head a{
  text-decoration: none;
}

.title{
  margin-left: 70px ;
}

.head span{
  font-size: 35px;
  font-weight: 700;
  color: rgb(0, 185, 198);
}

.head #l{
  position: relative;
  left: 0;
  animation-name: title-l;
  animation-duration: 5s;
}
.head #r{
  position: relative;
  left: 0;
  animation-name: title-r;
  animation-duration: 5s;
}
.title a{
  position: relative;
  color: aliceblue;
  font-size: 25px;
  margin-right: 10px;
  top: -3px;
}

.title #d{
  position: relative;
  top: -25px;
  left: 17px;
  color: rgb(255, 128, 0);
  font-size: 35px;
}

.head .nav1 a{
  margin-left: 30px;
  color: #ffffff;
  margin-right: 20px;
  
}

.head .nav1 #a1{
  color: rgb(0, 183, 255);
}

.head .nav1 #a1::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a1:hover::before{
  width: 45px;
  background-color: #fff;
}

.head .nav1 #a2::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a2:hover::before{
  width: 3.5%;
  background: #fff;
}

.head .nav1 #a3::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a3:hover::before{
  width: 5%;
  background: #fff;
}
.head .nav1 #a4::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a4:hover::before{
  width: 6.5%;
  background: #fff;
}

.head .nav1 #a5::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a5:hover::before{
  width: 5%;
  background: #fff;
}

.toggle_btn{
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 210px;
}
.dropdown_menu a{
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.body{
  padding: 10% 10%;
}
.body h1{
  color: white;
  font-size: 30px;
  padding-bottom: 5px;
}


.body h3{
  color: aquamarine;
  font-size: 20px;
  margin-bottom: 10px;
}

.body p{
  width: 30rem;
  font-size: 15px;
  color: rgb(134, 134, 134);
}


.body .project a{
  text-decoration: none;
  color: #000;
  padding: 1% 3%;
  /* background-color: #ffffff; */
  position: relative;
  top: 50px;
  border: 1px solid rgb(0, 157, 255);
  border-radius: 15px;
  color: rgb(0, 157, 255);
  transition: 0.5s ease;
}

.body .project a:hover{
  border: 1px solid #00ffc3;
  color: #00ffc3;
}

.body .links{
  margin-top: 12%;
  margin-left: -20px;
  justify-content: space-between;
}

.links a{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: rgb(0, 162, 255);
  font-size: 25px;
  margin-left: 20px;
  border: 2px solid ;
  border-radius: 30px;
  padding: 1%;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease;
}

.body .links a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 162, 255);
  z-index: -1;
  transition: 0.5s ease;
}
.body .links a:hover::before{
  height: 100%;
}

.links a:hover{
  color: #003c67;
}
.img1 span{
  position: absolute;
  bottom:10%;
  font-size: 350px;
  font-weight: 100;
  color: #003c67;
  opacity: 0.5;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.img1 #left{
  position: absolute;
  color: #0073ac;
  right: 42%;
  animation-name: tags-left;
  animation-duration: 5s; 
}
.img1 #right{
  position: absolute;
  color: #0073ac;
  right: 3%;
  animation-name: tags-right;
  animation-duration: 5s;

}

.img1 img{
  position: absolute;
  width: 350px;
  bottom: 0;
  right: 15%;
  opacity: 0.9;
  transition: 0.5s ease;
}

/* Section Styling */
.sec2 {
  background-color: #181818;
  padding: 80px 0;
  color: #fff;
  /* font-family: 'Josefin Sans', sans-serif; */
}

/* About Container */
.sec2 .about {
  max-width: 1200px;
  margin: 0 5rem;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec2 .about h1,  h1 span {
  font-family: 'Josefin Sans';
}
.sec2 .about h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.sec2 .about h1 span {
  color: #ffbf00;
}

/* Subtext */
.sec2 .about h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  color: #d6d6d6;
  margin-bottom: 15px;
}

.sec2 .about h4 span {
  color: orange;
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

/* Paragraph */
.sec2 .about p {
  max-width: 700px;
  font-size: 1.7rem;
  line-height: 1.8;
  margin-bottom: 10px;
  color: #eee;
}

.sec2 .about p span {
  font-family: 'Josefin Sans';
  color: #ffbf00;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Layout for Image + Text */
.sec2 .about .page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 40px;
}

/* Image */
.sec2 .about .page .photo img {
  width: 350px;
  border-radius: 0px;
  filter: grayscale(100%);
  transition: filter 0.4s ease, transform 0.4s ease;
}


/* Text Area */
.sec2 .about .page .text {
  flex: 1;
  min-width: 300px;
  text-align: left;
}

/* Button */
button {
  font-size: 1rem;
  padding: 0.9em 2.4em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
}

button .gradient {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

button .label {
  position: relative;
  z-index: 1;
}

button .transition {
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  background-color: rgba(40, 90, 112, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.96);
}


.sec3{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.sec3 h1{
  text-align: center;
  font-size: 40px;
  padding-top: 5%;
  color: #fff;
  text-align: center;
}

.sec3 .all-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 80%;
  margin: 4% auto;

}

.sec3 .card {
  background-color: #003448;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top: 7px solid #00fff7;
  border-bottom: 7px solid #00fff7;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border-radius: 20px;
  transition: 0.5s ease;
  color: #fff;
}

.sec3 .card-1 {
  position: relative;
  padding-bottom: 95px;
}
.sec3 .card {
  max-width: 350px;
}
.sec3 .card:hover{
  box-shadow: 1px 1px 10px #00bceb;
  transform: scale(1.01,1.01);
}

.sec3 i{
  position: relative;
  font-size: 50px;
  color: #00e0b7;
  bottom: 25px;
  padding: 5%;
}
.sec3 h3{
  position: relative;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  bottom: 20px;
  font-size: 20px;
}

.sec3 span{
  color: #00ffc3;
}
.sec3 p{
  list-style: decimal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
}



.sec4{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  min-height: 100vh;
}
.sec4 h1{
  position: relative;
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  top: 30px;
}


.sec4 .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.sec4 .card {
  margin: 7px 40px;
  display: inline-block;
}


.sec4 .project-card {
  /* background: linear-gradient(#0081de,#000); */
  background: rgb(15, 49, 71);
  width: 19rem;
  /* border: 2px solid #001623; */
  border-radius: 8px;
  box-shadow: 1px 1px 10px #000000;
  padding: 5%;
  transition: 0.7s ease;
}
.sec4 .project-card:hover{
  box-shadow: 1px 1px 10px #00bceb;
  transform: scale(1.01,1.01);
}

.project-image img {
  width: 100%;
  height: 100%;
  border: 2px solid #00ace0;
  border-radius: 8px;
}

.project-info h3 {
  position: relative;
  top: 10px;

  font-size: 15px;
  color: #00e6e6;
}

.project-info a {
  position: relative;
  padding: 2% 8%;
  background-color: #39ff14;
  text-decoration: none;
  color: #003366;
  left: 65%;
  top: 1px;
  text-align: center;
  bottom: 10px;
  border: 1px solid none;
  border-radius: 5px;
}

.project-info a{
    background-color: #0089de;
    color: #ffffff;
    border-color: none;
}

.sec5{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.sec5 h1{
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 5%;
}
.sec5 span{ 
  color: #00ffc3;
}

.sec5 .contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.sec5 .social{
  margin: 7%;
}
.sec5 #i{
  font-size: 25px;
  padding: 5px;
  width: 16%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
}

.sec5 .address,.mail,.whats{
  position: relative;
  display: flex;
  margin-bottom: 5%;
}

.sec5 i{
  color: #003c67;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.sec5 i:hover{
  color: #00eaff;
  transform: scale(1.1,1.1);
}
.sec5 .info{
  margin-left: 10px;
  color: white;
}

.sec5 .info p{
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}
.sec5 .info span{
  position: relative;
  right: 3px;
}


.sec5 .msg{
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.sec5 .msg h2{
  font-size: 25px;
}

.sec5 .msg .input-box{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.sec5 .msg .input-box input,textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  resize: none;
}

.sec5 .msg .input-box span{
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 15px;
  margin: -45px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sec5 .msg input:focus ~ span,
.sec5 .msg input:valid ~ span
.sec5 .msg textarea:focus ~ span,
.sec5 .msg textarea:valid ~ span
{
  color: #004d6c;
  font-size: 10px;
  margin: -60px 0;
  transform: translateX(-50px,-50px);
}
.sec5 .msg textarea:focus ~ span
.sec5 .msg textarea:valid ~ span
{
  color: #004d6c;
  font-size: 10px;
  margin: -60px 0;
  transform: translateX(-50px,-50px);
}

.sec5 .msg .input-box input[type="submit"]{
  background: #006ce7;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}

footer{
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  background: #278afc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icone,
footer .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer .social_icone li,
.menu li
{
  list-style-type: none;
}

footer .social_icone li a,
footer  .menu li a 
{
  font-size: 30px;
  margin: 0 10px;
  color: #fff;
  display: inline-block;
  transition: 0.5s ease;
}
footer .social_icone li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  text-align: center;
}

footer .wave{
  position: absolute;
  top: 192rem;
  bottom: 0; /* بدل top:-1000px */
  left: 0;
  width: 100%; /* عشان الحركة تبان */
  height: 100px;
  background: url('../wave.png');
  background-size: 1000px 100px;
}


footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index:999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3{
  z-index:999;
  opacity: 0.2;
  bottom: 0px;
  animation: animateWave_3 3s linear infinite;
}
footer .wave#wave4{
  z-index: 1000;
  opacity: 0.7;
  bottom: 10px;
  animation: animateWave_4 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animateWave_2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px; /* بالعكس عشان يدّي شكل تداخل */
  }
}

@keyframes animateWave_3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animateWave_4 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}



@keyframes tags-left {
  from{
    right: 30%;
  }
}

@keyframes tags-right {
  from{
    right: 20%;
  }
}

@keyframes title-l{
  from{
    left: 40%;
    color: #ebebeb ;
  }
} 
@keyframes title-r{
  from{
    left: -40%;
    color: #ebebeb ;
  }
} 



